<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div id="app">
        <input v-model="nama" id="userName"></input>
        <button v-if="editStat === 0" v-on:click="add">Add</button>
        <button v-if="editStat === 1" v-on:click="update">Update</button>


        <ul>
            <li v-for="(user, index) in users">
                {{user.name}} ||
                <button v-on:click="edit(index)">Edit</button>
                <button v-on:click="hapus(index)">Delete</button>
            </li>
        </ul>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <script>
        var vue = new Vue({
            el: '#app',
            data: {
                users: [
                    { name: 'Muhammad Iqbal Mubarok' },
                    { name: 'Ruby Purwanti' },
                    { name: 'Faqih Muhammad' },
                ],
                editStat: 0,
                nama: '',
                arr: 0,
            },
            methods: {
                add: function () {
                    value = document.getElementById('userName').value;
                    vue.users.push({ name: value })
                    vue.nama = '';
                    console.log(vue.users);
                },
                edit: function (index) {
                    vue.editStat = 1;
                    vue.arr = index;
                    vue.nama = vue.users[index].name;
                    console.log(vue.users);
                },
                update: function () {
                    vue.editStat = 0;
                    value = document.getElementById('userName').value;
                    vue.users[vue.arr].name = value;
                    vue.nama = '';
                },
                hapus: function (index) {
                    if (confirm("Do you really want to delete this user ?")) {

                        vue.users.splice(index, 1);
                    }
                },
            }
        });
    </script>
</body>

</html>